package ${package}.entity;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;
import java.io.Serializable;
import javax.persistence.*;
import java.util.Date;
import lombok.ToString;

  #if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 *
 */
@ToString
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Data
@Table("${tableName}")
public class ${className} implements Serializable{
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 *
     */
	#if($column.columnName == $pk.columnName)
	@Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
	#end
private $column.attrType $column.attrname;
#end


}
